* {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  background: #e2e1e0;
  padding-bottom: 120px;
  transition: background ease 300s;
  min-width: 200px;
}
body:hover {
  background: #333333;
}
h1, h2 {
  margin-top: 0;
}
h1 {
  font-size: 2.75em;
}
a {
  color: white;
}
p > a {
  background: linear-gradient(#6eb01b, #79c01c);
  border-radius: 3px;
  padding: 2px 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#title {
  background-image: url(avatar.jpg);
  background-size: 100%;
  background-position-y: 50%;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
  padding: 0.5em;
}
.avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.tile {
  background: #fff;
  border-radius: 2px;
  min-width: 140px;
  width: 300px;
  min-height: 100px;
  max-height: 300px;
  overflow: hidden;
  margin: 1em;
  padding: 1em;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media (max-width: 742px) {
  .tile {
    max-height: none;
  }
}
.tile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow ease 0.3s;
}
.tile ul {
  list-style: none;
  padding-left: 0;
}

footer {
  position: fixed;
  bottom: 0;
  max-height: 120px;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0.2em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer li, .tile li {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
  background: linear-gradient(#6eb01b, #79c01c);
  box-shadow: 0 0 3px #777;
}
