body {
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

div {
  width: 46%;
  padding: 2%;
  float: left;
}
@media (max-width: 767px) {
  div {
    width: 96%;
  }
}
